.AddIdea{
    padding: 2rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    margin-bottom: 1rem;
}
.input-container label{
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}
.input-container input, .input-container textarea{
    padding: 0.8rem;
    border-radius: 0.3rem;
    outline: none;
    border: 2px solid#cdcdcd;
    resize: none;
}
button{
    background-color: #6c6563;
    color: white;
    padding: 0.9rem 1.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
}

@media screen and (max-width: 600px) {
    .AddIdea{
        padding: 1.5rem;
    }
    button{
        padding: 0.8rem 1.3rem;
    }
}